.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
  background-color: rgb(255, 250, 215);
  border-radius: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 1rem;
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
  background-color: rgb(255, 253, 236);
}

.list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.list li:last-child {
  border: none;
}

.list li img {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  object-fit: cover;
}

.list li div {
  padding: 1rem;
}

.list li div:not(:first-child) {
  flex-basis: 18%;
}

.list li select {
  width: 3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(7, 7, 7);
  font-size: 1.1rem;
  border-radius: 0.2rem;
  font-weight: 100;
}

.list .delete_btn {
  color: rgb(255, 158, 158);
  background-color: red !important;
  padding: 0.6rem;
  opacity: 0.8;
  border: none;
  outline: none;
  border-radius: 1rem;
  font-weight: 700;
}

.list .delete_btn:hover {
  opacity: 1;
  cursor: pointer;
  background-color: red;
}

.checkout {
  display: flex;
  background-color: rgb(255, 253, 236);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 20rem;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.checkout > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
  margin: 1rem;
  font-size: 1.5rem;
  align-items: flex-start;
}

.checkout .foods_count {
  margin-bottom: 1.5rem;
}
.checkout .foods_count::before {
  content: "Total Items: ";
  color: rgb(131, 131, 131);
  font-weight: 600;
}

.checkout .total_price::before {
  content: "Price: ";
  color: grey;
}

.checkout a {
  justify-self: center;
  text-align: center;
  width: 99%;
  background: rgb(255, 116, 70);
  border-radius: 0.9rem;
  padding: 0.5rem;
  color: white;
  font-weight: 700;
  display: block;
}

.checkout a:hover {
  background-color: rgb(255, 192, 171);
  cursor: pointer;
  color: rgb(255, 64, 0);
}
