.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.list li a {
  height: 24rem;
  width: 20rem;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: rgb(105, 105, 105);
}

.image {
  object-fit: cover;
  height: 14rem;
}

.content {
  margin-top: 0.4rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 8rem;
}
.favorite {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #414141;
}

.favorite.not {
  color: rgb(231, 231, 231);
}

.stars {
  margin: 0.5rem 0;
}

.product_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.origin span {
  border-radius: 2rem;
  background-color: rgb(228, 228, 228);
  display: inline-block;
  font-size: 0.8rem;
  color: rgb(107, 107, 107);
  margin-right: 0.3rem;
  padding: 0 0.5rem;
  margin-top: 0.2rem;
}

.origin {
  flex: 9;
}

.cook_t {
  font-size: 0.9rem;
  flex: 3;
  text-align: right;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0.9rem;
  padding: 0.3rem 100% 0 0;
  color: #414141;
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.btn {
  border: none;
  outline: none;
  cursor: grab;
  padding: 0.7rem 0.5rem;
  background: rgb(110, 110, 110);
  font-size: 1rem;
}
.btn::before {
  content: "Add to cart";
  font-family: "Schoolbell", cursive;
  color: white !important;
}
