.container {
  position: relative;
  height: 22rem;
  width: 35rem;
  text-align: center;
}

.map {
  width: 100% !important;
  height: 100% !important;
  border-radius: 1rem;
}

.find_location {
  position: relative;
  margin: auto;
  width: fit-content;
  min-height: fit-content;
  font-size: 1rem;
  font-weight: 700;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(51, 26, 2, 0.24);
  backdrop-filter: blur(1rem);
  cursor: pointer;
  border-radius: 0rem 0rem 0.5rem 0.5rem  ;
  border: none;
  border-top: 0;
  padding: 5px;
  color: rgb(255, 244, 225);
}
.find_location:hover {
  /* background-color: rgb(229, 255, 211); */
  background-color: rgba(0, 0, 0, 0.486);
}
