.container {
  display: flex;
  flex-wrap: wrap;
}

.container a {
  background: linear-gradient(
    rgba(255, 213, 136, 0.386),
    rgba(239, 201, 135, 0.632)
  );
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 5rem;
  font-weight: 600;
  color: rgb(255, 123, 0);
}
