.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container button {
  border: none;
  outline: none;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem auto;
  font-weight: 600;
  background-color: rgb(255, 151, 53);
  color: rgb(255, 235, 217);
}
.container button:hover {
  cursor: pointer;
  color: rgb(255, 123, 0);
  background-color: rgb(255, 209, 166); 
}

