.header {
  background: linear-gradient(rgb(250, 211, 103), rgb(249, 206, 86));
  padding: 0;
}

.header a {
  color: rgb(255, 64, 0);
}
.header a:hover {
  background: rgb(255, 116, 70);
  color: rgb(255, 232, 210);
}

.header {
  background: rgb(255, 182, 113);
  color: rgb(255, 232, 210);
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  padding: 1rem;
  font-size: x-large;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1.1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: rgb(224, 224, 224);
  border-radius: 0 0 0.5rem 0.5rem;
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 9rem;
}

.cart_count {
  background-color: rgb(255, 98, 0);
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  font-size: 0.9rem;
}
