.header {
  background: rgb(212, 212, 212);
  padding: 0;
}

.header a {
  color: rgb(104, 104, 104);
}

.header a:hover {
  background: rgba(179, 179, 179, 0.616);
  color: white;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bolder;
  padding: 1.1rem;
  font-size: large;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1.1rem;
  display: inline-block;
}

.menu_container {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1001;
  background-color: rgb(224, 224, 224);
  border-radius: 0 0 0.5rem 0.5rem;
  display: none;
}

.menu_container:hover .menu {
  display: block;
}

.menu a {
  width: 100%;
  min-width: 9rem;
}

.cart_count {
  background-color: rgb(150, 150, 150);
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  font-size: 0.9rem;
}
