.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.container input {
  border-radius: 2rem 0 0 2rem;
  border: none;
  height: 2.5rem;
  width: 15rem;
  background-color: rgb(229, 226, 210);
  padding: 1rem;
  font-size: 1rem;
  outline: none;
}

.container button {
  color: rgb(255, 64, 0);
  height: 2.5rem;
  width: 5rem;
  font-size: 1.1rem;
  border-radius: 0 2rem 2rem 0;
  border: none;
  background: rgb(255, 182, 113);
  font-weight: 600;
  opacity: 0.8;
  outline: none;
}

.container button:hover {
  opacity: 1;
  cursor: pointer;
}
